@font-face {
    font-family: karla;
    src: url(../Karla/Karla-VariableFont_wght.ttf);
}

:root{
    --text-color: #323A45;
    --brand-color: #848484;
    --bottom: 20px;
}

/* ----------------general styles---------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.wrapper{
    font-family: "karla", Arial, Helvetica, sans-serif;
    color: var(--text-color);
    padding: 2rem 6rem;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

h1{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
h5{
    font-size: 1.4rem;
    margin: 1rem 0;
}

p{
    font-size: 1.4rem;
}

/* --------------nav----------------------------------- */
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: baseline;
}

nav a{
padding: 20px;
}

.burger-menu{
display: none;
}

/* -------------main styles---------------------------- */
.shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.fullsize{
grid-column: 1 / 4;
}

.price{
    display: flex;
    justify-content: space-between;
}

article p{
    color: var(--brand-color);
}

article{
    margin-bottom: var(--bottom);
}

article img{
    margin-bottom: -4px;
}

figure{
    background-color: rgb(250, 248, 248);
}

article figure img:hover{
    opacity: 10% ;
}
/* ---------------bottom-section---------------------- */
.bottom{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 30rem; 
  grid-template-columns: 35% 17% 25% 20%; 
}

.bottom a{
    font-weight: 700;
    line-height: 3rem;
}

.bottom span{
    font-style: italic;
}

.bottom div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
}

.bottom p{
    line-height: 3rem;
}

/* ---------------footer--------------------------- */
footer{
    color: var(--brand-color);
}

/* ---------------newsletter---------------------- */

fieldset{
    display: inline;
    padding:15px;
    margin: 30px 60px;
    border-radius: 30px;
}
form{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 30rem;
    padding: 3rem;
}

input{
    margin: 2px 0 10px 0;
}

label{
    font-family: "karla", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
#submit{
    width: 8rem;
    padding: 4px 6px;
    background-color: rgb(238, 164, 189);
    border-radius: 20px;
    border: none;
}

/* --------------media 600px---------------------- */
@media only screen and (max-width: 600px){

    .wrapper{
        padding: 2rem 4rem;
    }

    /* ----------------nav-------------------------- */
    .burger {
        height: 5px;
        width: 30px;
        background-color: black;
        margin: 2px;
        border-radius: 10px;
      }
      
      .burger-wrapper {
        display: none;
      }

      .burger-menu{
        display: block;
      }
   
    /* ----------------main------------------------- */
    .shop{
        display: flex;
        flex-direction: column;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        height: 50rem;
        margin-top: 6rem;
    }
}